<div class="container">
    {{#if user.isAdmin }}
    <a class="btn btn-sm btn-primary" href="galaktyka-formularz/0">Dodaj</a>
    {{/if}}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Akcje</th>
        </tr>
            {{#each galaktyki}}
                <tr>
                    <td>{{this.ID}}</td>
                    <td>{{this.Nazwa}}</td>
                        {{ user.isAdmin }}
                    {{#if ../user.isAdmin}}
                    <td>
                        <a class="btn btn-sm btn-primary" href="galaktyka-formularz/{{this.ID}}">Edytuj</a>
                        <a class="btn btn-danger btn-sm" href="delete/{{this.ID}}">Usuń</a>
                    </td>
                    {{/if}}
                </tr>
            {{/each}}
    </table>
</div>