<div class="container">
    <form action="lista" method="get">
        <div class="input-group mb-3">
            <input class="btn btn-primary" type="submit" value="Szukaj" />
            <input class="form-control" type="text" value="" placeholder="Wyszukaj po nazwie..." name="fraza"/>
        </div>
    </form>
    {{#if user.isAdmin }}
        <a class="btn btn-sm btn-primary" href="gwiazdy_formularz/0">Dodaj</a>
    {{/if}}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Galaktyka</th>
            <th>Nazwa</th>
            <th>Akcje</th>
        </tr>
            {{#each gwiazdy}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{this.galaktyka.Nazwa}} (ID:{{this.ID_Galaktyki}})</td>
                    <td>{{this.Nazwa}}</td>
                    {{#if ../user.isAdmin}}
                    <td>
                        <a class="btn btn-sm btn-primary" href="gwiazdy_formularz/{{this.ID}}">Edytuj</a> 
                        <a class="btn btn-danger btn-sm" href="delete/{{this.ID}}">Usuń</a>
                    </td>
                    {{/if}}
                </tr>
            {{/each}} 
    </table>
</div>