<div class="container">
    {{#if user.isAdmin }}
        <a class="btn btn-sm btn-primary" href="gwiazdy_formularz/0">Dodaj</a>
    {{/if}}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Galaktyka</th>
            <th>Nazwa</th>
            <th>Akcje</th>
        </tr>
            {{#each gwiazdy}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{this.ID_Galaktyki}}</td>
                    <td>{{this.Nazwa}}</td>
                    {{ user.isAdmin }}
                    {{#if ../user.isAdmin}}
                    <td>
                        <a class="btn btn-sm btn-primary" href="gwiazdy_formularz/{{this.ID}}">Edytuj</a> 
                        <a class="btn btn-danger btn-sm" href="delete/{{this.ID}}">Usuń</a>
                    </td>
                    {{/if}}
                </tr>
            {{/each}} 
    </table>
</div>