<div class="container">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>ID_Planety</th>
            <th>ID_Ksiezyca</th>
            <th>Nazwa</th>
            
        </tr>
            {{#each krysztaly_i_mineraly}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{this.ID_Planety}}</td>
                    <td>{{this.ID_Ksiezyca}}</td>
                    <td>{{this.Nazwa}}</td>
                    {{ user.isAdmin }}
                    {{#if ../user.isAdmin}}
                    <td><a href="edit/{{this.ID}}">Edytuj</a> <a href="delete/{{this.ID}}">Usuń</a></td>
                    {{/if}}
                </tr>
            {{/each}} 
    </table>
    <a href="add/">Dodaj</a>
</div>