<div class="container">
    {{#if user.isAdmin }}
        <a class="btn btn-sm btn-primary" href="ksiezyce_formularz/0">Dodaj</a>
    {{/if}}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>ID_Planety</th>
            <th>Nazwa</th>
            <th>Typ</th>
            <th>Akcje</th>
        </tr>
            {{#each ksiezyce}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{this.ID_Planety}}</td>
                    <td>{{this.Nazwa}}</td>
                    <td>{{this.Typ}}</td>
                    {{ user.isAdmin }}
                    {{#if ../user.isAdmin}}
                        <td><a href="ksiezyce_formularz/{{this.ID}}" class="btn btn-sm btn-primary">Edytuj</a> 
                        <a href="delete/{{this.ID}}" class="btn btn-danger btn-sm">Usuń</a></td>
                    {{/if}}
                </tr>
            {{/each}} 
    </table>
</div>