<div class="container">
    <a href="add/">Dodaj</a>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>ID_Planety</th>
            <th>Nazwa</th>
            <th>Typ</th>
            <th>Akcje</th>
        </tr>
            {{#each ksiezyce}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{this.ID_Planety}}</td>
                    <td>{{this.Nazwa}}</td>
                    <td>{{this.Typ}}</td>
                    {{ user.isAdmin }}
                    {{#if ../user.isAdmin}}
                    <td><a href="edit/{{this.ID}}">Edytuj</a> <a href="delete/{{this.ID}}">Usuń</a></td>
                    {{/if}}
                </tr>
            {{/each}} 
    </table>
</div>