<div class="container">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Wartosc</th>
            <th>Rzadkosc</th>
            <th>Grupa</th>
            <th>Akcje</th>
        </tr>
            {{#each materialy}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{this.NAzwa}}</td>
                    <td>{{this.Wartosc}}<td>
                    <td>{{this.Rzadkosc}}</td>
                    <td>{{this.Grupa}}</td>
                    {{ user.isAdmin }}
                    {{#if ../user.isAdmin}}
                    <td><a href="edit/{{this.ID}}">Edytuj</a> <a href="delete/{{this.ID}}">Usuń</a></td>
                    {{/if}}
                </tr>
            {{/each}} 
    </table>
    <a href="add/">Dodaj</a>
</div>