<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Materialy</title>
  </head>
  <body>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Wartosc</th>
            <th>Rzadkosc</th>
            <th>Grupa</th>
            
        </tr>
            {{#each materialy}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{this.NAzwa}}</td>
                    <td>{{this.Wartosc}}<td>
                    <td>{{this.Rzadkosc}}</td>
                    <td>{{this.Grupa}}</td>
                    <td><a href="edit/{{this.ID}}">Edytuj</a> <a href="delete/{{this.ID}}">Usuń</a></td>
                </tr>
            {{/each}} 
    </table>
    <a href="add/">Dodaj</a>
  </body>
</html>