<div class="container">
    <table class="table">
        <tr>
            <th>ID_materialy_krysztaly_i_mineraly</th>
            <th>ID_Materialy</th>
            <th>ID_Krysztaly_i_mineraly</th>
        </tr>
            {{#each materialy_krysztaly_i_mineraly}}
                <tr>  
                    <td>{{this.ID_materialy_krysztaly_i_mineraly}}</td>
                    <td>{{this.ID_Materialy}}</td>
                    <td>{{this.ID_Krysztaly_i_mineraly}}</td>
                    {{ user.isAdmin }}
                    {{#if ../user.isAdmin}}
                    <td><a href="edit/{{this.ID}}">Edytuj</a> <a href="delete/{{this.ID}}">Usuń</a></td>
                    {{/if}}
                </tr>
            {{/each}} 
    </table>
    <a href="add/">Dodaj</a>
</div>