<div class="container">
        <form action="lista" method="get">
            <div class="input-group mb-3">
            <input class="btn btn-primary" type="submit" value="Szukaj" />
            <input class="form-control" type="text" value="" placeholder="Wyszukaj po nazwie..." name="fraza"/>
        </form>
    </div>
    {{#if user.isAdmin }}
        <a class="btn btn-sm btn-primary" href="planety_formularz/0">Dodaj</a>
    {{/if}}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Gwiazda</th>
            <th>Nazwa</th>
            <th>Typ</th>
            <th>Rzadkosc</th>
            <th>Teren</th>
            <th>Flora</th>
            <th>Fauna</th>
            <th>Straznicy</th>
            <th>Akcje</th>
        </tr>
            {{#each planety}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{this.gwiazda.Nazwa}} (ID:{{this.ID_Gwiazdy}})</td>
                    <td>{{this.Nazwa}}</td>
                    <td>{{this.Typ}}</td>
                    <td>{{this.Rzadkosc}}</td>
                    <td>{{this.Teren}}</td>
                    <td>{{this.Flora}}</td>
                    <td>{{this.Fauna}}</td>
                    <td>{{this.Straznicy}}</td>
                    {{ user.isAdmin }}
                    {{#if ../user.isAdmin}}
                    <td><a class="btn btn-sm btn-primary" href="planety_formularz/{{this.ID}}">Edytuj</a> 
                    <a class="btn btn-danger btn-sm" href="delete/{{this.ID}}">Usuń</a></td>
                    {{/if}}
                </tr>
            {{/each}} 
    </table>
</div>