<div class="container">
        <div class="input-group mb-3">
        <input class="btn btn-primary" type="submit" value="Szukaj" />
        <input class="form-control" type="text" value="" placeholder="Wyszukaj po rodzaju..." name="fraza"/>
    </div>
    {{#if user.isAdmin }}
        <a class="btn btn-sm btn-primary" href="rosliny_formularz/0">Dodaj</a>
    {{/if}}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>ID_Planety</th>
            <th>ID_Ksiezyca</th>
            <th>Rodzaj</th>
            <th>Dieta</th>
            <th>Wiek</th>
            <th>Korzenie</th>
            <th>Typ</th>
            <th>Notatka</th>
            <th>Akcje</th>
        </tr>
            {{#each rosliny}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{this.ID_Planety}}</td>
                    <td>{{this.ID_Ksiezyca}}</td>
                    <td>{{this.Rodzaj}}</td>
                    <td>{{this.Dieta}}</td>
                    <td>{{this.Wiek}}</td>
                    <td>{{this.Korzenie}}</td>
                    <td>{{this.Typ}}</td>
                    <td>{{this.Notatka}}</td>
                    {{ user.isAdmin }}
                    {{#if ../user.isAdmin}}
                    <td>
                        <a class="btn btn-sm btn-primary" href="rosliny_formularz/{{this.ID}}">Edytuj</a> 
                        <a class="btn btn-danger btn-sm" href="delete/{{this.ID}}">Usuń</a>
                    </td>
                    {{/if}}
                </tr>
            {{/each}} 
    </table>
</div>