<div class="container">
    <form action="http://localhost:3000/Rosliny/{{#if roslina.ID}}update{{else}}add{{/if}}" method='post'>
        {{#if roslina.ID}}
            <input type="hidden" name='ID' value='{{roslina.ID}}'>
        {{/if}}
         <div class="mb-3">
            <label for="Rodzaj" class="form-label">Rodzaj rośliny</label>
            <input type="text" class="form-control" id="Rodzaj" name="Rodzaj" value='{{roslina.Rodzaj}}'>
            <label for="ID_Planety" class="form-label">Planeta</label>  
            <select id="ID_Planety" name="ID_Planety" class="form-select">     
            {{#each planeta}}
                <option value="{{this.ID}}">{{this.Nazwa}}</option>
            {{/each}}
                <option value=-1>Brak</option>
            </select>
            <label for="ID_Ksiezyca" class="form-label">Księżyc</label>  
            <select id="ID_Ksiezyca" name="ID_Ksiezyca" class="form-select">     
            {{#each ksiezyc}}
                    <option value="{{this.ID}}">{{this.Nazwa}}</option>
            {{/each}}
                <option value=-1>Brak</option>
            </select>
                        <label for="Dieta" class="form-label">Dieta</label>
            <input type="text" class="form-control" id="Dieta" name="Dieta" value='{{roslina.Dieta}}'>
                        <label for="Wiek" class="form-label">Wiek</label>
            <input type="text" class="form-control" id="Wiek" name="Wiek" value='{{roslina.Wiek}}'>
                        <label for="Korzenie" class="form-label">Korzenie</label>
            <input type="text" class="form-control" id="Korzenie" name="Korzenie" value='{{roslina.Korzenie}}'>
                        <label for="Typ" class="form-label">Typ</label>
            <input type="text" class="form-control" id="Typ" name="Typ" value='{{roslina.Typ}}'>
                        <label for="Notatka" class="form-label">Notatka</label>
            <input type="text" class="form-control" id="Notatka" name="Notatka" value='{{roslina.Notatka}}'>
          <button type="submit" class="btn btn-primary btn-sm">Zapisz</button>
    </form>
</div>