<div class="container">
    <form action="lista" method="get">
        <div class="input-group mb-3">
        <input class="btn btn-primary" type="submit" value="Szukaj" />
        <input class="form-control" type="text" value="" placeholder="Wyszukaj po rodzaju..." name="fraza"/>
        </form>
    </div>
    {{#if user.isAdmin }}
        <a class="btn btn-sm btn-primary" href="rosliny_formularz/0">Dodaj</a>
    {{/if}}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Planeta</th>
            <th>Ksieżyc</th>
            <th>Rodzaj</th>
            <th>Dieta</th>
            <th>Wiek</th>
            <th>Korzenie</th>
            <th>Typ</th>
            <th>Notatka</th>
            {{#if user.isAdmin }}
            <th>Akcje</th>
            {{/if}}
        </tr>
            {{#each rosliny}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{#if this.planeta.Nazwa}}{{this.planeta.Nazwa}} (ID:{{this.ID_Planety}}){{else}}Brak{{/if}}</td>
                    <td>{{#if this.ksiezyc.Nazwa}}{{this.ksiezyc.Nazwa}} (ID:{{this.ID_Ksiezyca}}){{else}}Brak{{/if}}</td>
                    <td>{{this.Rodzaj}}</td>
                    <td>{{this.Dieta}}</td>
                    <td>{{this.Wiek}}</td>
                    <td>{{this.Korzenie}}</td>
                    <td>{{this.Typ}}</td>
                    <td>{{this.Notatka}}</td>
                    {{ user.isAdmin }}
                    {{#if ../user.isAdmin}}
                    <td>
                        <a class="btn btn-sm btn-primary" href="rosliny_formularz/{{this.ID}}">Edytuj</a> 
                        <a class="btn btn-danger btn-sm" href="delete/{{this.ID}}">Usuń</a>
                    </td>
                    {{/if}}
                </tr>
            {{/each}} 
    </table>
</div>