<div class="container">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Cena</th>
            <th>Klasa</th>
            <th>Typ_Statku</th>
            <th>Ilosc_slotow_technologii</th>
            <th>Zasieg_hipernapendu</th>
            
        </tr>
            {{#each statki_gwiezdne}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{this.Cena}}</td>
                    <td>{{this.Klasa}}</td>
                    <td>{{this.Typ_Statku}}</td>
                    <td>{{this.Ilosc_slotow_technologii}}</td>
                    <td>{{this.Zasieg_hipernapendu}}</td>
                   
                    {{ user.isAdmin }}
                    {{#if ../user.isAdmin}}
                    <td><a href="edit/{{this.ID}}">Edytuj</a> <a href="delete/{{this.ID}}">Usuń</a></td>
                    {{/if}}
                </tr>
            {{/each}} 
    </table>
    <a href="add/">Dodaj</a>
</div>