<div class="container">
    <form action="lista" method="get">
        <div class="input-group mb-3">
        <input class="btn btn-primary" type="submit" value="Szukaj" />
        <input class="form-control" type="text" value="" placeholder="Wyszukaj po typie..." name="fraza"/>
        </form>
    </div>
    {{#if user.isAdmin }}
        <a class="btn btn-sm btn-primary" href="statki_gwiezdne_formularz/0">Dodaj</a>
    {{/if}}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Cena</th>
            <th>Klasa</th>
            <th>Typ_Statku</th>
            <th>Ilosc_slotow_technologii</th>
            <th>Zasieg_hipernapendu</th>
            {{#if user.isAdmin }}
            <th>Akcje</th>
             {{/if}}
        </tr>
            {{#each statki_gwiezdne}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{this.Cena}}</td>
                    <td>{{this.Klasa}}</td>
                    <td>{{this.Typ_Statku}}</td>
                    <td>{{this.Ilosc_slotow_technologii}}</td>
                    <td>{{this.Zasieg_hipernapendu}}</td>
                    {{#if ../user.isAdmin}}
                    <td>
                        <a class="btn btn-sm btn-primary" href="statki_gwiezdne_formularz/{{this.ID}}">Edytuj</a> 
                        <a class="btn btn-danger btn-sm" href="delete/{{this.ID}}">Usuń</a>
                    </td>
                    {{/if}}
                </tr>
            {{/each}} 
    </table>
</div>