<div class="container">
    {{#if user.isAdmin }}
        <a class="btn btn-sm btn-primary" href="zwierzeta_formularz/0">Dodaj</a>
    {{/if}}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>ID_Planety</th>
            <th>Nazwa</th>
            <th>Ekosystem</th>
            <th>Dieta</th>
            <th>Temperament</th>
            <th>Wiek</th>
            <th>Plec</th>
            <th>Wielkosc</th>
            <th>Akcje</th>
        </tr>
            {{#each zwierzeta}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{this.ID_Planety}}</td>
                    <td>{{this.Nazwa}}</td>
                    <td>{{this.Ekosystem}}</td>
                    <td>{{this.Dieta}}</td>
                    <td>{{this.Temperament}}</td>
                    <td>{{this.Wiek}}</td>
                    <td>{{this.Plec}}</td>
                    <td>{{this.Wielkosc}}</td>
                    {{ user.isAdmin }}
                    {{#if ../user.isAdmin}}
                    <td><a class="btn btn-sm btn-primary" href="zwierzeta_formularz/{{this.ID}}">Edytuj</a> 
                    <a class="btn btn-danger btn-sm" href="delete/{{this.ID}}">Usuń</a></td>
                    {{/if}}
                </tr>
            {{/each}} 
    </table>
</div>