<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Galaktyki</title>
  </head>
  <body>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Akcje</th>
        </tr>
            {{#each galaktyki}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{this.Nazwa}}</td>
                    <td><a href="edit/{{this.ID}}">Edytuj</a> <a href="delete/{{this.ID}}">Usuń</a></td>
                </tr>
            {{/each}} 
    </table>
    <a href="add/{{this.ID}}">Dodaj</a>
  </body>
</html>
