<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Materialy</title>
  </head>
  <body>
    <table class="table">
        <tr>
            <th>ID_materialy_rosliny</th>
            <th>ID_Materialy</th>
            <th>ID_Rosliny</th>
            
        </tr>
            {{#each Materialy}}
                <tr>  
                    <td>{{this.ID_materialy_rosliny}}</td>
                    <td>{{this.ID_Materialy}}</td>
                    <td>{{this.ID_Rosliny}}<td>

                    <td><a href="edit/{{this.ID}}">Edytuj</a> <a href="delete/{{this.ID}}">Usuń</a></td>
                </tr>
            {{/each}} 
    </table>
    <a href="add/">Dodaj</a>
  </body>
</html>