<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rosliny</title>
  </head>
  <body>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>ID_Planety</th>
            <th>ID_Ksiezyca</th>
            <th>Rodzaj</th>
            <th>Dieta</th>
            <th>Wiek</th>
            <th>Korzenie</th>
            <th>Typ</th>
            <th>Notatka</th>
            
        </tr>
            {{#each rosliny}}
                <tr>  
                    <td>{{this.ID}}</td>
                    <td>{{this.ID_Planety}}</td>
                    <td>{{this.ID_Ksiezyca}}<td>
                    <td>{{this.Rodzaj}}</td>
                    <td>{{this.Dieta}}</td>
                    <td>{{this.Wiek}}</td>
                    <td>{{this.Korzenie}}</td>
                    <td>{{this.Typ}}</td>
                    <td>{{this.Notatka}}</td>
                    <td><a href="edit/{{this.ID}}">Edytuj</a> <a href="delete/{{this.ID}}">Usuń</a></td>
                </tr>
            {{/each}} 
    </table>
    <a href="add/">Dodaj</a>
  </body>
</html>